.programdiv{
background-color: rgb(21, 52, 53);
color: white;
}

.programdiv h1{
  text-align: center;
    }


.programdiv section{
display: flex;
gap: 5px;
margin-left: 10px;
margin-right: 10px;
    }

.programdiv section div{
background-color: #117a8b;
border-radius: 12px;
text-align: center;
cursor: pointer;
transition: 1s;
}


.programdiv section div:hover{
    background-color: rgb(212, 64, 18);
    
    }

    .programdiv section img{
width: 20px;        
        }
        
        .programdiv section p{
           line-height: 30px; }


.progspan{
    color: aqua;
    font-size: 50px;
}


@media screen and (max-width:700px) {
    .programdiv section{
        display: block;   
            }
}