.navbar{
    display: flex;
    justify-content: space-between;
    background: rgb(77, 61, 50);
    position: relative;
    top: 0;
    transition: 0.7s;

}



#navtme{
    transition: 2s;
}


.links{
    color: white;
    transition: 0.7s;
}

.links:hover{
    color: rgb(22, 186, 236);
}



.menuimg {
    position: absolute;
    right: 0;
    z-index: 1;
    cursor: pointer;
}





@media screen and (max-width:2000px ) {
  
    
    .navbar{
        
        background: rgb(17, 26, 151);
  
       
    }

   .menuimg{display: none;position: absolute; top: 5px; }
   
    
}

@media screen and (max-width:600px ) {
  
    
    .navbar{background: rgb(153, 0, 0);}
    .menuimg{display: block;width: 50px; }
    #navtul{display: none; }



   
    
}