.footer{
    background-color: black;
    color: white;
    text-align: center;
}

.footer p{
    color: rgb(130, 192, 16);
    font-size: 30px;
}

.footer ul li{
    list-style: none;
    cursor: pointer;
    color: aqua;
   
}

.footer ul li:hover{
  color: rgb(245, 14, 14);
}